@model StonySerpent.Core.ViewModels.HomeViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="details-overview">
    <div>

        <div>
            @Model.Products.First().Description
            <div>
                <img src="https://inetimg.se/img/452x339/1999910_5.jpg" width="300" height="400"/>
            </div>

        </div>
    </div>



</div>


